@model Photography.Core.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">EmailAddress</div>
    <div class="display-field">@Model.EmailAddress</div>

    <div class="display-label">Discount</div>
    <div class="display-field">@String.Format("{0:F}", Model.Discount)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


