@model PhotographySite.Models.AlbumModel

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Album.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Album.Name)
    @Html.ValidationMessageFor(model => model.Album.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Album.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Album.Description)
    @Html.ValidationMessageFor(model => model.Album.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Album.IsPublic)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Album.IsPublic)
    @Html.ValidationMessageFor(model => model.Album.IsPublic)
</div>
@if (Model != null)
{
    <div class="editor-label">
        @Html.LabelFor(model => model.Album.CreatedOn)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Album.CreatedOn, new { disabled = "disabled" })
    </div>
}
<div class="editor-field">
   @Html.DropDownListFor(model => model.SelectedCategoryId, new SelectList(Model.AvailableCategories, "Id", "Name", Model.SelectedCategoryId.HasValue ? Model.SelectedCategoryId.Value : null));
</div>