@model System.Collections.Generic.IEnumerable<Photography.Core.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            AlbumCover
        </th>
        <th>
            Category
        </th>
        <th>
            IsPublic
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            Tags
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@(item.AlbumCover == null ? "None" : item.AlbumCover.Name)
        </td>
        <td>
			@(item.Category == null ? "None" : item.Category.Name)
        </td>
        <td>
			@item.IsPublic
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedOn)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Tags).ToString()
        </td>
    </tr>
}

</table>


